<div>
    <h2>libs</h2>
        <ul>
            {{#each this}}
        <li> 
        <span>{{this.id}}</span>
        <span>{{this.lip}}</span>
        </li>
        {{/each}}
       </ul>
        
        
</div>